<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body ng-controller="firstController">

  <div class="bloc">
    <!--<div class="">
        <input class="input" placeholder="Enter text" ng-model="answers.city"/>
    </div>

    <div answer-list="list" ng-bind="answers.city"></div>-->
  <!--<div answer-list="list"></div>-->

  </div>

  <div class="bloc">
    <div class="">
        <input class="input" type="text" placeholder="Enter text" ng-model="answers.city"/>
    </div>

    <div class="list">
        <p ng-bind="answers.city"></p>
        <!--<p ng-repeat="answer in list.answers | orderBy:sortparam">{{answer.city}}</p>-->

    </div>

  </div>

</body>
</html>
